.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produit {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.produit img {
  width: 100%;
  border-radius: 5px;
}
